.custom-border {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: #2ba2a9;
    color: white;
}

.custom-border:-webkit-autofill,
.custom-border:-webkit-autofill:focus,
.custom-border:-webkit-autofill:hover,
.custom-border:-webkit-autofill:active {
    background-color: #2ba2a9 !important;
    color: white !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

.custom-border::placeholder {
    color: white;
}